// Buttons partial
 @import 'colors';
 button{
 	outline: none;
 	&:focus{
 		outline: none;
 	}
 	&::-moz-focus-inner {
		border:0;
	}
 }
.btn {
	font-size: 13px;
	border: solid 2px;
	@include border-radius(40px);
	display: inline-block;
	text-transform: uppercase;
	outline: none;

}
.btn:hover, .btn:focus {
	color: $white-color;
	border-color: $color-skin;
	background-color: $color-skin;	
	outline: none;
}
.btn:focus {
	box-shadow: 0 0 3px 2px lighten($color-skin,1);
	
}
.btn-skin{
	color: $color-skin;
	border-color: $color-skin;
}
.btn-white {
	font-size: 13px;
	border: solid 2px;
	@include border-radius(40px);
	display: inline-block;
	border-color: $light-color-txt;
}
.btn-white:hover, .btn-white:focus {
	color: $color-skin;
	border-color: $color-skin;
	outline: none;
}
.btn-fill {
	color: $white-color;
	border: solid 2px $color-skin;
	@include border-radius(40px);
	display: inline-block;
	text-transform: uppercase;
	background-color: $color-skin;
}
.btn-fill:hover, .btn-fill:focus {
	color: $white-color;
	background-color: $color-skin-hover;
	border-color: $color-skin-hover;
	outline: none;
}
.btn-small {
	padding: 8px 40px;
}
.btn-large {
	padding: 15px 40px;
}
.btn-margin-right {
	margin-right: 20px;
}

.btnNews {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: absolute;
	right: 30%;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.btnNews:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
