@import 'compass';
@import 'bootstrap';
@import url(http://fonts.googleapis.com/css?family=Lato&subset=latin-ext);
@import url(https://fonts.googleapis.com/css?family=Special+Elite);
@import 'mixins';
@import 'icons';
@import 'button';
@import 'colors';
@import 'figure-hover';

$font-family: 'Lato', sans-serif;
$logo-font: 'Special Elite', cursive;
//line
$black-shadow: 0px 3px 0.8px black, 3px 0 0.8px black;
$border: 1px solid black;  
$box-shadow-inset: inset 50px -50px 50px black;
$box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
$border-radius: 1%;


//-------------------------MAIN----------------------------------
body{
  color: #5a5a5a;
  font-family: $font-family;
}
//--------------------Images great positioning----------------
.img {
    position: relative;
    float: left;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
//-------------------Images effects---------
.imgEffectGray{
	   @include transition(all, .3s);
	   @include grayscale(100%);
	   
	   &:hover{
	   	filter: none;
		-webkit-filter: none;
	   }
}
.imgEffectScale{
	   @include transition(all, .2s, ease-in-out);
	   @include dropShadow(rgba(0,0,0,0.6));
	   &:hover{
		@include scale(1.08, 1.08);
	   	filter: none;
		-webkit-filter: none;
	   }
}
.pattern{
		background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAG0lEQVQIW2NkYGD4z8DAwMgABXAGNgGwSgwVAFbmAgXxvZSoAAAAAElFTkSuQmCC");
		//url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAATklEQVQYV2NkYGAwZmBgOMuAACA+CKCIMSIpADGRNaEYgKwQ3WQUjTCF6CYhWw2WAynEpgjmIpg7jUlSiM0TWK2GWUOUZ7ApxggeogIcABHJFtfoX9tJAAAAAElFTkSuQmCC');// url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAH0lEQVQIW2NkQAX/GZH4/xkYGBhhAmAOSBJEwDkgAQCCrgQEqRgDDwAAAABJRU5ErkJggg==");
		background-color: rgba(220,220,220,0.8);
		width: 100%;
   		height: 100%;
   		position: absolute;
	    opacity: 0.5;
	    left: 0;
	    z-index: 3;
	}
//------------------line heading--------------
.line{
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	overflow: hidden;
	@include line;
}
// -------------ICONS-------------------
.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

//-------------NAVBAR------------------
.navbar-default{
		background-color: rgba(255,255,255,0.7);
		-webkit-transition: all 0.4s ease;
   		 transition: all 0.4s ease;
}
.navbar{
	-webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
	border: none;
	padding: 15px 0;

	.nav{
		padding: 20px 0;
		
		a{
		position: relative;
		letter-spacing: 1px;
		font-weight: 400;
		font-size: 1.35em;
		}
	}
	.navbar-brand{
		font-family: $logo-font;
		color: black;
		font-size: 5em;
		position: absolute;
		top: 30%;
		right: 50%;

		&:hover{
			color: black;
		}
	}
}

nav.sticky {
  padding: 10px 0;
	background-color: rgba(255,255,255,1);

 	.nav{
  		a{
  			
  	}
}

}
.nav-effect {
	.navbar-collapse{
		a{
		padding: 8px 0;
		margin: auto 8px;
		
			&::after {
				position: absolute;
				top: 100%;
				left: 0;
				width: 100%;
				height: 4px;
				background: rgba(0,0,0,0.1);
				content: '';
				opacity: 0;
				@include transition(opacity 0.3s, transform 0.3s);
				@include transform(translateY(10px));
			}
			&:hover::after,
			&:focus::after {
				opacity: 1;
				@include transform(translateY(0px));
			}
		}
	}
}

//------------CAROUSEL-----------------
.fade {
  opacity: 1;
  //margin-top: 125px;
  margin-bottom: 3px;
	h2>small{
		color: $light-color-txt;		
	}
}
.fade .carousel-inner .item {
  -moz-transition: opacity ease-in-out .7s;
  -o-transition: opacity ease-in-out .7s;
  -webkit-transition: opacity ease-in-out .7s;
  transition: opacity ease-in-out .7s;
  left: 0 !important;
  opacity: 0;
  top:0;
  position:absolute;
  width: 100%;
  display:block !important;
  z-index:1;
}
.fade .carousel-inner .item.active {
  opacity: 1;
  -moz-transition: opacity ease-in-out .7s;
  -o-transition: opacity ease-in-out .7s;
  -webkit-transition: opacity ease-in-out .7s;
  transition: opacity ease-in-out .7s;
  z-index:2;
}
.carousel,
.item,
.active {
    height:800px;
}
.carousel-control{
	z-index: 2;
	//background-image: none !important; /* remove background gradients on controls */
	&.right, &.left{
	top: 0;
	bottom: 0;
	}
	svg{
		position: absolute;
		height: 800px;
		color: #fff;
	}
}
.carousel-inner {
    min-height: 800px;
}
.fill {
    width: 100%;
    height: 800px;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
}
//---------------download-------------
.download{
	background-color: $panel-color;
	height: 300px;
	min-width: 600px;
	position: relative;
	padding: 10px;
	margin: 0 auto;
	@include box-shadow($box-shadow);
	h2{
		@include vert-cent-nontxt(100px, -220px);
		width: 100%;
		font-size: 3em;
		color: black;
		float: left;
	}
	img{
		@include vert-cent-nontxt(-10px, -140px);
		color: $motive-color;
		height: 299px;
		width: 250px;
		}
}
//-------------newsletter-------------
.newsletter{
	background: $panel-color;
	margin-top: 10px;
	padding: 20px 20px 20px 100px;
	@include box-shadow($box-shadow);
		form{
			@include placeholder($motive-color, 20px);
			position: relative;
			margin: auto 40px;
			input[type="email"]{
				height: 60px;
				background-color: $form-placeholder;
				border: none;
				outline: none;	
				margin-bottom: 10px;
				&:focus{
					box-shadow: 1px 1px 10px $motive-color;
				}
			}
			#btn-click{
				height: 60px;

			}
			.btn-7b {
				overflow: hidden;
				background: $white-color;
				color: $color-txt;
				border-radius: 7px;
				box-shadow: 0 5px darken($white-color, 15);
				width: 150px;
				height: 60px;
				transition: all .2s ease;
				&:focus{
					box-shadow: 0 3px darken($white-color, 15);
					height: 58px;
				}
			}
			.btn-7b:before {
				position: absolute;
				top: 30%;
				left: 0;
				width: 50%;
				font-size: 2em;
				line-height: 0.8;
				color: darken($white-color, 40);
			}
			span{
				position: absolute;
				width: 50%;
				top: 35%;
				right: 15%;
				font-size: 1em;
			}
			.btn-7b.btn-activated:before {
				-webkit-animation: scaleUp 0.5s;
				-moz-animation: scaleUp 0.5s;
				animation: scaleUp 0.5s;
			}
			
			@-webkit-keyframes scaleUp {
				80% {
					opacity: 0;
					-webkit-transform: scale(2);
				}
				100% {
					opacity: 0;
					-webkit-transform: scale(2);
				}
			}
			
			@-moz-keyframes scaleUp {
				80% {
					opacity: 0;
					-moz-transform: scale(2);
				}
				100% {
					opacity: 0;
					-moz-transform: scale(2);
				}
			}
			
			@keyframes scaleUp {
				80% {
					opacity: 0;
					transform: scale(2);
				}
				100% {
					opacity: 0;
					transform: scale(2);
				}
			}
		}
}
//------------------NEWS--------------------------
#news{
	@include heading("NEWS");
	padding: 30px;

	.img{
	   width: 354px;
	   height:200px;
	   margin-bottom: 15px;
	}
}
//-----------------WYDARZENIA--------------
#events{	
	@include heading("WYDARZENIA");
	padding-top: 20px;
	
	figure{
	    padding: 0;
	    margin: 0;
	}
	h2{
		color: rgba(255,255,255,1);
	}
	img{
		opacity: 1;
		width: 480px;
		height: 300px;
		padding: 0;
		margin: 0;	
		-webkit-transition: opacity 1s, -webkit-transform 1s;
		transition: opacity 1s, transform 1s;
	}
	.col-md-3{
		margin: 0;
	    padding: 0;
	   }	
}
figure.effect-sadie figcaption::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: -webkit-linear-gradient(top, rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 75%);
	background: linear-gradient(to bottom, rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 75%);
	content: '';
	opacity: 0;
	-webkit-transform: translate3d(0,50%,0);
	transform: translate3d(0,50%,0);
}

figure.effect-sadie h2 {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	color: #484c61;
	-webkit-transition: -webkit-transform 0.35s, color 0.35s;
	transition: transform 0.35s, color 0.35s;
	-webkit-transform: translate3d(0,-50%,0);
	transform: translate3d(0,-50%,0);
}

figure.effect-sadie figcaption::before,
figure.effect-sadie p {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-sadie p {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 2em;
	width: 100%;
	opacity: 0;
	-webkit-transform: translate3d(0,10px,0);
	transform: translate3d(0,10px,0);
}

figure.effect-sadie:hover h2 {
	color: #fff;
	-webkit-transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
	transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
}

figure.effect-sadie:hover figcaption::before ,
figure.effect-sadie:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
figure.effect-sadie:hover img {
	opacity: 0.4;
	-webkit-transform: scale3d(1.1,1.1,1);
	transform: scale3d(1.1,1.1,1);
}
//----------------cinema/image hover effect-------
#cinema{
	@include heading("KINO");
	margin-bottom: 30px;

	figure{
	    height: 400px;
	    padding: 0;
	    margin: 0;
	}
	.col-md-4{
	    padding-right: 0;
	   }
	 .col-md-4:last-child{
	    padding-right: 15px;
	   }

}

figure.effect-julia {
	background: #2f3238;
}

figure.effect-julia img {
	max-width: none;
	min-width: 100%;
	height: 100%;
	-webkit-transition: opacity 1s, -webkit-transform 1s;
	transition: opacity 1s, transform 1s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

figure.effect-julia figcaption {
	text-align: left;
}

figure.effect-julia h2 {
	position: relative;
	padding: 0.5em 0;
}

figure.effect-julia p {
	display: inline-block;
	margin: 0 0 0.25em;
	padding: 0.4em 1em;
	background: rgba(255,255,255,0.9);
	color: #2f3238;
	text-transform: none;
	font-weight: 500;
	font-size: 75%;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-360px,0,0);
	transform: translate3d(-360px,0,0);
}

figure.effect-julia p:first-child {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

figure.effect-julia p:nth-of-type(2) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

figure.effect-julia p:nth-of-type(3) {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

figure.effect-julia:hover p:first-child {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

figure.effect-julia:hover p:nth-of-type(2) {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

figure.effect-julia:hover p:nth-of-type(3) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

figure.effect-julia:hover img {
	opacity: 0.4;
	-webkit-transform: scale3d(1.1,1.1,1);
	transform: scale3d(1.1,1.1,1);
}

figure.effect-julia:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
//----------------VIDEO-PANEL------------
#videoSection{
	margin: 0 0 30px 0;
    height: 450px;
    background: $panel-color;
    font-size: 1.1em;
	text-align: left;
	overflow: hidden;
	.col-md-5{
	    height: 450px;
	    position: relative;
	    padding: 0;
		margin: 0;
		overflow: hidden;
	   	video{
			position: absolute;
		    top: 0;
		    right: 0;
		    width: 100%;
		   	height: 100%;
		    z-index: 0;
			}
			#trailerTitleDisplay{
				display: block;
				position: absolute;
				bottom: 80px;
				left: 20px;
				color: $motive-color;//white;
				font-size: 2em;
				z-index: 4;
			&::after{
				content: "";
				display: block;
				border-bottom: solid 1px white;//$motive-color;
				max-width: 100%;
				padding: 5px;
			}
		}
	}
	.col-md-7 {
		height: 450px;
		overflow: hidden;

		h2{
			color: black;
			}
		h2:first-child{
			margin-top: 5px;
		}
		button{
			outline: none;
		}
		
	}
}

//-------------TRENDY-------------------
#trends{
	@include parallax(url(../img/stk-min.jpg));
	position: relative;
	margin-top: 20px;
	margin-bottom: 30px;
	//z-index: -1;
	.patternTrends{
		background-color: rgba(255,255,255,0.8);
		width: 100%;
   		height: 100%;
   		position: absolute;
	    opacity: 0.5;
	    left: 0;
		z-index: 0;
	}
	.container{
		@include heading("TRENDY");
		padding-bottom: 60px;
		h2{
			margin-bottom: 20px;
		}
	}
	.trendsContainer{
		display: block;
		text-decoration: none;
		color: black;
		cursor: pointer;
		background-color: rgba(255,255,255,0.8);
		height:400px;
		overflow: hidden;
		transition: .3s all ease;
		&:hover{
			opacity: 0.8;
			background-color: rgba(220,220,220,0.9);
		}
		&:focus{

		}
		.img{
		   width: 100%;
		   min-height:200px;
		   margin-bottom: 10px; 
		}
		h2{
			margin-top: 10px;
		}
		p{
			padding:5px; 
		}
	}
}


//------------FILM------------------
#film{
	@include heading("FILM");
	margin-bottom: 30px; 
	video{
		width: 560px;
		height:315px;
	}
	.videoFilm{
		@include dropShadow(rgba(0,0,0,0.4));
		transition: .3s all ease;
		&:hover{
		@include dropShadow(rgba(0,0,0,0));
		}
	}
}

//-------------BANNER---------------
#banner{
	background: lighten( $dark, 50);
	color:$color-txt;
	.col-md-8{
		display:table;
		height: 200px;	
		h3{
			@include vert-centering;
		}
	}
	.col-md-4{
		position: relative;
		height: 200px;
		
		.button-banner{
 			@include button(280px,100px);
			@include border-radius(10px);
			@include box-shadow(0px 7px 5px -3px #000);
			@include vert-cent-nontxt(-50px, -140px);
			outline: none;
			font-size:1.8em;
			font-weight:300;
			line-height: 80px;
				
				&:hover{
			 		background-color: #fff;
			 		margin-top: -52px;
			 		background-color: darken($button-color, 3);
			 		@include button-hover(all,.2s,linear);	
					text-decoration: none;
			 		} 	
			 	&:active{
			 		@include box-shadow(none);
			 		margin-top: -51px;
			 	}
			 }
	}	
}

//------------KONTAKT----------------
#contact{
	@include heading("KONTAKT");
	background-color: rgba(242, 242, 242,1);
	min-height: 550px;
	position: relative;
	form{
		//@include test(red);
		margin: 30px auto;
		label{
			
		}
		.labelFormating{

			float: left;
		}
		input, textarea, label{
			width: 100%;
			padding: 8px;
			border: none;
			transition: all .3s ease-in-out;
			&:focus{
				outline: none;
				box-shadow: 1px 1px 10px $motive-color;
			}	
		}
		textarea, input{
			height: 45px;
		}
		button{
			background-color: #fff;
			width: 150px;
			height: 45px;
			border: none;
			margin-top: 45px;
			color: $motive-color;
			font-size: 16px;

			&:focus{
				outline: 0;
				box-shadow: 1px 1px 10px $motive-color;
			}
		}
	}
	.contactRow{
		margin: 0 auto;
		color: gray;
		font-size: 1.2em;
		div{
			padding:50px;

		span{
			font-size: 2em;
			color: black;
			margin: 2px;
		}
		.icon{
			color: $motive-color;
		}
		}
	}
	.goToTop{
		display: block;
		@include box-shadow( 0px -8px 8px -1px rgba(0,0,0,0.3));
		@include border-radius(50%);
		background-color: rgb(242, 242, 242);
		width: 40px;
		height: 40px;
		position: absolute;
		right: 50%;
		bottom: -20px;
		font-size: 30px;
		color: $motive-color;
		text-decoration: none;
		transition: all .4s ease;

		&:hover{
			@include box-shadow(0px -12px 8px -12px rgba(0,0,0,0.3));
			background-color: rgb(255, 255, 255);
		}
	}
}

//------------FOOTER----------------
footer{
	max-height: 140px;
}
#copy{
	p{
	width: 230px;
	margin: 60px auto;
	}	
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
@media (max-width: 768px){
.nav-effect {
	.navbar-collapse{
		a{
		padding: 8px;
		margin: auto auto 0 0;
		
			&::after {
				display: none;
			}
			&:hover::after,
			&:focus::after {
				display: none;
			}
		}
	}
}
.navbar{
	padding: 3px 0;
	margin-bottom: 0;
	&>img{
		padding-bottom: 0;
		}
}
.sticky{
	padding: 5px 0;
}
}